<a href="https://colab.research.google.com/github/srikanth15650/test/blob/main/Python_for_ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def example_function():
  local_var = 5
  print(local_var)

local_var = 6
example_function()
print(local_var)

5
6

In [ ]:
def outer_function():
    nonlocal_var = 10

    def inner_function():
      nonlocal nonlocal_var
      nonlocal_var += 5

    inner_function()
    print(nonlocal_var)

outer_function()

15

In [ ]:
global_var = 20
def example_function():
  global global_var
  global_var += 5

print(global_var)
example_function()
print(global_var)

20
25

In [ ]:
class Student:

  def __init__(self, name):
      self.name = name

  def study(self):
    print(self.name, "is studying")

In [ ]:
student1 = Student("John")
print(type(student1))
student1.study()

<class '__main__.Student'>
John is studying

In [ ]:
student2 = Student("Mary")
student2.study()

Mary is studying

In [2]:
class Dog:
    def __init__(self, name, age, weight):
        self.name = name
        self.age = age
        self.weight = weight
        print("Created a new object of the name "+ name)

    def walk(self):
        print("I am walking" + self.name)

    def weigh(self):
        print(self.name + "'s has weight " + str(self.weight))

    def __repr__(self):
        return "Name " + self.name + " Age " + str(self.age) + " Weight "+ str(self.weight)

In [8]:
dog1 = Dog("Sky", 15, 15)
dog1.walk()
dog1.weigh()
print(dog1)

Created a new object of the name Sky
I am walkingSky
Sky's has weight 15
Name Sky Age 15 Weight 15

In [9]:
dog2 = Dog("second dog", 15, 15)
dog2.walk()
dog2.weigh()
print(dog2)

Created a new object of the name second dog
I am walkingsecond dog
second dog's has weight 15
Name second dog Age 15 Weight 15

In [11]:
my_list = []
my_list.append(dog1)
my_list.append(dog2)
my_list.append("Dogs")

In [12]:
my_list

[Name Sky Age 15 Weight 15, Name second dog Age 15 Weight 15, 'Dogs']

In [32]:
class Student:
  def __init__(self, ID, name, gpa):
    self.ID= ID
    self.name =name
    self.gpa = gpa

  def __repr__(self):
    return "Student = " + self.name

class Course:
  def __init__(self,name):
    self.name = name
    self.list_of_students = []

  def add_a_student(self, student_obj):
    self.list_of_students.append(student_obj)

  def find_top(self):
    max_gpa = 0
    top_student = None
    for student in self.list_of_students:
       if(student.gpa > max_gpa):
         max_gpa = student.gpa
         top_student = student
    return top_student

In [33]:
student_A = Student(12, "Mary" , 4)
student_B = Student(213, "Bob", 3)
student_C = Student(47, "Jill", 2.5)

math_course = Course("Math")

In [34]:
math_course.add_a_student(student_A)
math_course.add_a_student(student_B)
math_course.add_a_student(student_C)

In [35]:
print(math_course.list_of_students)

[Student = Mary, Student = Bob, Student = Jill]

In [36]:
top_student = math_course.find_top()

In [43]:
print("The top student is "+ top_student.name +
      " with GPA " + str(top_student.gpa) +
      " with ID " + str(top_student.ID))

The top student is Mary with GPA 4 with ID 12

In [46]:
class Employee:
  def __init__(self, name, salary ):
    self.name = name
    self.salary = salary

  def __repr__(self):
    return '(' + self.name + ', ' + str(self.salary) +')'

employee1 = Employee("Matt" , 2000)

In [47]:
hasattr(employee1, 'salary')

True

In [48]:
getattr(employee1, 'salary')

2000

In [57]:
setattr(employee1, 'salary', 7000)
getattr(employee1, 'salary')

7000

In [58]:
delattr(employee1, 'salary')
getattr(employee1, 'salary')

AttributeError: 'Employee' object has no attribute 'salary'

In [78]:
class Book:

  def __init(self, title, quantity, author, price):
    self.title = title
    self.quantity = quantity
    self.author = author
    self.price = price

  def set_discount(self, discount):
    self.discount = discount

  def get_price(self):
    if self.dicount:
        return self.price * (1 - self.discount)
    return self.price

  def __repr__(self):
    return f"Book: {self.title}, Quantity: {self.quantity}, Author: {self.author}, Price: {self.get_price}"


class Novel(Book):

  def __init__(self, title, quantity, author, price, genre):
     super().__init__(title, quantity, author, price)
     self.genre = genre


class Academic(Book):
  def __init__(self, title, quantity, author, price, branch):
    super().__init__(title, quantity, author, price)
    self.branch = branch

In [83]:
novel1 = Novel('2 states', 20,  'Matt W', 80, 'Fiction')
novel1.set_discount(0.20)
print(novel1)

academic1 = Academic('Python Foundations', 12 , 'P.sauls', 'IT' , 'Tech')
print(academic1)

TypeError: object.__init__() takes exactly one argument (the instance to initialize)

In [85]:
class A:
  def method_a(self):
    print("Method A from class A")

class B:
  def method_b(self):
    print("Method B from class B")

class C(A, B):
  def method_c(self):
    print("Method C from class C")

obj = C()

obj.method_a()

obj.method_b()

obj.method_c()

Method A from class A
Method B from class B
Method C from class C

In [86]:
class MyClass:
  def __init__(self):
    self.public_attribute = 42

  def public_method(self):
    return "This is a public method"

obj = MyClass()

print(obj.public_attribute)
print(obj.public_method())

42
This is a public method

In [96]:
class MyClass:
  def __init__(self):
    self._protected_attribute = 42

  def _protected_method(self):
    return "This is protected method"

obj = MyClass()

print(obj._protected_attribute)
print(obj._protected_method())

42
This is protected method

In [97]:
class MyClass:
  def __init__(self):
    self.__private_attribute = 42

  def __private_method(self):
    return "Thisis private method"


obj = MyClass()

print(obj.__private_attribute)
print(obj.__private_method())

AttributeError: 'MyClass' object has no attribute '__private_attribute'

In [105]:
class Person:

  def __init__(self, name ,age):
    self.name =name
    self.__age = age

  def get_age(self):
    if(self.__age < 0):
      print("This is not a valid age")
      return -1
    return self.__age

  def set_age(self, x):
    if x < 0:
      self.__age = 0
    self.__age = x

In [106]:
p1 = Person("Matt", 20)

print(p1.get_age())

20

In [108]:
p1.set_age(21)
print(p1.get_age())

21

In [109]:
p1.set_age(-1)
print(p1.get_age())

This is not a valid age
-1

In [111]:
class Shape:
  def area(self):
    pass

class Circle(Shape):
  def __init__(self, radius):
    self.radius = radius

  def area(self):
     return 3.14159 * self.radius **2

class Rectangle(Shape):
  def __init__(self, width, height):
    self.width = width
    self.height = height


  def area(self):
     return self.width * self.height


def calculate_area(shape):
  return (shape.area())

In [117]:
my_circle = Circle(5)
my_rectangle = Rectangle(4, 6)

print(f"Circle Area : {calculate_area(my_circle)}")
print(f"Rectangle Area : {calculate_area(my_rectangle)}")

Circle Area : 78.53975
Rectangle Area : 24

In [17]:
class MyHashMap:

  def __init__(self):
    self.my_list = []

  def put(self, key:int, value:int) -> None:
    for pair in self.my_list:
       if key == pair[0]:
          pair[1] = value
          return
    pair = [key, value]
    self.my_list.append(pair)


  def get(self, key:int) -> int:
    for pair in self.my_list:
      if key == pair[0]:
        return pair[1]

    return -1

  def remove(self, key:int) -> None:
    for pair in self.my_list:
      if key == pair[0]:
          self.my_list.remove(pair)
          return

In [23]:
myHashMap = MyHashMap()
print(myHashMap.my_list)

[]

In [24]:
myHashMap.put(1,1)
print(myHashMap)

<__main__.MyHashMap object at 0x7c54f2ee82d0>

In [25]:
myHashMap.put(2,2)
print(myHashMap)

<__main__.MyHashMap object at 0x7c54f2ee82d0>

In [26]:
print(myHashMap.get(1))
print(myHashMap.get(2))
print(myHashMap.get(3))

1
2
-1

In [ ]:
myHashMap.put(2,1)
print(myHashMap)