<a href="https://colab.research.google.com/github/srikanth15650/test/blob/main/Python_for_ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def example_function():
  local_var = 5
  print(local_var)

local_var = 6
example_function()
print(local_var)

5
6

In [ ]:
def outer_function():
    nonlocal_var = 10

    def inner_function():
      nonlocal nonlocal_var
      nonlocal_var += 5

    inner_function()
    print(nonlocal_var)

outer_function()

15

In [ ]:
global_var = 20
def example_function():
  global global_var
  global_var += 5

print(global_var)
example_function()
print(global_var)

20
25

In [ ]:
class Student:

  def __init__(self, name):
      self.name = name

  def study(self):
    print(self.name, "is studying")

In [ ]:
student1 = Student("John")
print(type(student1))
student1.study()

<class '__main__.Student'>
John is studying

In [ ]:
student2 = Student("Mary")
student2.study()

Mary is studying

In [ ]:
class Dog:
    def __init__(self, name, age, weight):
        self.name = name
        self.age = age
        self.weight = weight
        print("Created a new object of the name "+ name)

    def walk(self):
        print("I am walking" + self.name)

    def weigh(self):
        print(self.name + "'s has weight " + str(self.weight))

    def __repr__(self):
        return "Name " + self.name + " Age " + str(self.age) + " Weight "+ str(self.weight)

In [ ]:
dog1 = Dog("Sky", 15, 15)
dog1.walk()
dog1.weigh()
print(dog1)

Created a new object of the name Sky
I am walkingSky
Sky's has weight 15
Name Sky Age 15 Weight 15

In [ ]:
dog2 = Dog("second dog", 15, 15)
dog2.walk()
dog2.weigh()
print(dog2)

Created a new object of the name second dog
I am walkingsecond dog
second dog's has weight 15
Name second dog Age 15 Weight 15

In [ ]:
my_list = []
my_list.append(dog1)
my_list.append(dog2)
my_list.append("Dogs")

In [ ]:
my_list

[Name Sky Age 15 Weight 15, Name second dog Age 15 Weight 15, 'Dogs']

In [ ]:
class Student:
  def __init__(self, ID, name, gpa):
    self.ID= ID
    self.name =name
    self.gpa = gpa

  def __repr__(self):
    return "Student = " + self.name

class Course:
  def __init__(self,name):
    self.name = name
    self.list_of_students = []

  def add_a_student(self, student_obj):
    self.list_of_students.append(student_obj)

  def find_top(self):
    max_gpa = 0
    top_student = None
    for student in self.list_of_students:
       if(student.gpa > max_gpa):
         max_gpa = student.gpa
         top_student = student
    return top_student

In [ ]:
student_A = Student(12, "Mary" , 4)
student_B = Student(213, "Bob", 3)
student_C = Student(47, "Jill", 2.5)

math_course = Course("Math")

In [ ]:
math_course.add_a_student(student_A)
math_course.add_a_student(student_B)
math_course.add_a_student(student_C)

In [ ]:
print(math_course.list_of_students)

[Student = Mary, Student = Bob, Student = Jill]

In [ ]:
top_student = math_course.find_top()

In [ ]:
print("The top student is "+ top_student.name +
      " with GPA " + str(top_student.gpa) +
      " with ID " + str(top_student.ID))

The top student is Mary with GPA 4 with ID 12

In [ ]:
class Employee:
  def __init__(self, name, salary ):
    self.name = name
    self.salary = salary

  def __repr__(self):
    return '(' + self.name + ', ' + str(self.salary) +')'

employee1 = Employee("Matt" , 2000)

In [ ]:
hasattr(employee1, 'salary')

True

In [ ]:
getattr(employee1, 'salary')

2000

In [ ]:
setattr(employee1, 'salary', 7000)
getattr(employee1, 'salary')

7000

In [ ]:
delattr(employee1, 'salary')
getattr(employee1, 'salary')

AttributeError: 'Employee' object has no attribute 'salary'

In [ ]:
class Book:

  def __init(self, title, quantity, author, price):
    self.title = title
    self.quantity = quantity
    self.author = author
    self.price = price

  def set_discount(self, discount):
    self.discount = discount

  def get_price(self):
    if self.dicount:
        return self.price * (1 - self.discount)
    return self.price

  def __repr__(self):
    return f"Book: {self.title}, Quantity: {self.quantity}, Author: {self.author}, Price: {self.get_price}"


class Novel(Book):

  def __init__(self, title, quantity, author, price, genre):
     super().__init__(title, quantity, author, price)
     self.genre = genre


class Academic(Book):
  def __init__(self, title, quantity, author, price, branch):
    super().__init__(title, quantity, author, price)
    self.branch = branch

In [ ]:
novel1 = Novel('2 states', 20,  'Matt W', 80, 'Fiction')
novel1.set_discount(0.20)
print(novel1)

academic1 = Academic('Python Foundations', 12 , 'P.sauls', 'IT' , 'Tech')
print(academic1)

TypeError: object.__init__() takes exactly one argument (the instance to initialize)

In [ ]:
class A:
  def method_a(self):
    print("Method A from class A")

class B:
  def method_b(self):
    print("Method B from class B")

class C(A, B):
  def method_c(self):
    print("Method C from class C")

obj = C()

obj.method_a()

obj.method_b()

obj.method_c()

Method A from class A
Method B from class B
Method C from class C

In [ ]:
class MyClass:
  def __init__(self):
    self.public_attribute = 42

  def public_method(self):
    return "This is a public method"

obj = MyClass()

print(obj.public_attribute)
print(obj.public_method())

42
This is a public method

In [ ]:
class MyClass:
  def __init__(self):
    self._protected_attribute = 42

  def _protected_method(self):
    return "This is protected method"

obj = MyClass()

print(obj._protected_attribute)
print(obj._protected_method())

42
This is protected method

In [ ]:
class MyClass:
  def __init__(self):
    self.__private_attribute = 42

  def __private_method(self):
    return "Thisis private method"


obj = MyClass()

print(obj.__private_attribute)
print(obj.__private_method())

AttributeError: 'MyClass' object has no attribute '__private_attribute'

In [ ]:
class Person:

  def __init__(self, name ,age):
    self.name =name
    self.__age = age

  def get_age(self):
    if(self.__age < 0):
      print("This is not a valid age")
      return -1
    return self.__age

  def set_age(self, x):
    if x < 0:
      self.__age = 0
    self.__age = x

In [ ]:
p1 = Person("Matt", 20)

print(p1.get_age())

20

In [ ]:
p1.set_age(21)
print(p1.get_age())

21

In [ ]:
p1.set_age(-1)
print(p1.get_age())

This is not a valid age
-1

In [ ]:
class Shape:
  def area(self):
    pass

class Circle(Shape):
  def __init__(self, radius):
    self.radius = radius

  def area(self):
     return 3.14159 * self.radius **2

class Rectangle(Shape):
  def __init__(self, width, height):
    self.width = width
    self.height = height


  def area(self):
     return self.width * self.height


def calculate_area(shape):
  return (shape.area())

In [ ]:
my_circle = Circle(5)
my_rectangle = Rectangle(4, 6)

print(f"Circle Area : {calculate_area(my_circle)}")
print(f"Rectangle Area : {calculate_area(my_rectangle)}")

Circle Area : 78.53975
Rectangle Area : 24

In [ ]:
class MyHashMap:

  def __init__(self):
    self.my_list = []

  def put(self, key:int, value:int) -> None:
    for pair in self.my_list:
       if key == pair[0]:
          pair[1] = value
          return
    pair = [key, value]
    self.my_list.append(pair)


  def get(self, key:int) -> int:
    for pair in self.my_list:
      if key == pair[0]:
        return pair[1]

    return -1

  def remove(self, key:int) -> None:
    for pair in self.my_list:
      if key == pair[0]:
          self.my_list.remove(pair)
          return

In [ ]:
myHashMap = MyHashMap()
print(myHashMap.my_list)

[]

In [ ]:
myHashMap.put(1,1)
print(myHashMap.my_list)

[[1, 1], [2, 2]]

In [ ]:
myHashMap.put(2,2)
print(myHashMap.my_list)

[[1, 1], [2, 2]]

In [ ]:
print(myHashMap.get(1))
print(myHashMap.get(2))
print(myHashMap.get(3))

1
2
-1

In [ ]:
myHashMap.put(2,1)
print(myHashMap.my_list)

[[1, 1], [2, 1]]

In [ ]:
numbers = [ 1, 33, 2, 44, 53,  5, 22 ]
sorted(numbers)
print(numbers)

[1, 33, 2, 44, 53, 5, 22]

In [ ]:
numbers2 = sorted(numbers)
print(numbers2)

[1, 2, 5, 22, 33, 44, 53]

In [ ]:
print(numbers)
numbers.sort()
print(numbers)

[1, 33, 2, 44, 53, 5, 22]
[1, 2, 5, 22, 33, 44, 53]

In [ ]:
words = [ "apple", "banana" , "trees", "pineapple", "cranberry"]
sorted_words = sorted(words, key = len)
print(sorted_words)
#sort based on length

['apple', 'trees', 'banana', 'pineapple', 'cranberry']

In [ ]:
sorted_words = sorted(words, key=len, reverse= True)
print(sorted_words)

['pineapple', 'cranberry', 'banana', 'apple', 'trees']

In [ ]:
sorted_words = sorted(words, key=lambda x: (x[1],x[0]))
print(sorted_words)

['banana', 'pineapple', 'apple', 'cranberry', 'trees']

In [ ]:
points = [[1,2],[0,4],[6,3,2],[1,3,1]]
sorted_points1 = sorted(points)
print(sorted_points1)

sorted_points2 = sorted(points, key=lambda x:(x[1]))
print(sorted_points2)


sorted_points3 = sorted(points, key=lambda x:(x[1],x[0]))
print(sorted_points3)

[[0, 4], [1, 2], [1, 3, 1], [6, 3, 2]]
[[1, 2], [6, 3, 2], [1, 3, 1], [0, 4]]
[[1, 2], [1, 3, 1], [6, 3, 2], [0, 4]]

In [ ]:
class Employee:
  def __init__(self, name, dept, age):
    self.name = name
    self.age = age
    self.dept = dept

  def __repr__(self):
    return '{' + self.name + ',' + self.dept + ',' + str(self.age)+'}'


employees = [ Employee ('John', 'IT', 28),
             Employee('Sam', 'Banking', 20),
              Employee('Joe', 'Finance', 25)]

In [ ]:
employees

[{John,IT,28}, {Sam,Banking,20}, {Joe,Finance,25}]

In [ ]:
employees.sort(key=lambda x: x.name)
print(employees)

[{Joe,Finance,25}, {John,IT,28}, {Sam,Banking,20}]

In [ ]:
employees.sort(key=lambda x: x.age)
print(employees)

[{Sam,Banking,20}, {Joe,Finance,25}, {John,IT,28}]

In [ ]:
employees.sort(key=lambda x: x.age, reverse=True)
print(employees)

[{John,IT,28}, {Joe,Finance,25}, {Sam,Banking,20}]

In [3]:
print("Hello World")

Hello World

In [ ]:
employees.sort(key=lambda x: x.dept)
print(employees)

[{Sam,Banking,20}, {Joe,Finance,25}, {John,IT,28}]

In [2]:
result = "5" * 3

In [9]:
#converting a non numeric string to an integer
number_str = "abc"
result = int(number_str)

ValueError: invalid literal for int() with base 10: 'abc'

In [10]:
#trying to open a non existent file
file_path = "non.existentfile.txt"
with open(file_path, "r") as file:
  content = file.read()

FileNotFoundError: [Errno 2] No such file or directory: 'non.existentfile.txt'

In [13]:
a = 5
b = 0
try:
  print(a/b)
except:
  print("Cannot divide by zero")

print("Completed")

Cannot divide by zero
Completed

In [16]:
x = 2
try:
  x += "abc"
except Exception as e:
  print("Oops something went wrong")
  print(type(e))
  print(e)

Oops something went wrong
<class 'TypeError'>
unsupported operand type(s) for +=: 'int' and 'str'

In [17]:
file = open("test1.txt", "r")

FileNotFoundError: [Errno 2] No such file or directory: 'test1.txt'

In [18]:
content = file.read()

NameError: name 'file' is not defined

In [19]:
print(type(content))
print()
print(content)

NameError: name 'content' is not defined

In [ ]:
with open("test1.txt", "r") as file:
  while True:
    cur_line = file.readline()
    if cur_line:
        print(cur_line)
    else:
      break

In [119]:
with("open1.txt", "r") as file:
  lines =file.readlines()
  print(lines)

TypeError: 'tuple' object does not support the context manager protocol

In [118]:
for line in lines:
  print(line)

I Love python. Python is my favouriteI Love python. Python is my favourite

I Love python. Python is my favourite

I Love python. Python is my favourite

In [ ]:
with open("test1.txt", "r") as file:
  file.seek(5)
  print(file.read())

  print()

  position = file.tell()
  print(position)

In [29]:
file = open("test2.txt", "w")
file.write("Hello John")
file.close()

In [30]:
with open("test2.txt", "r") as file:
  file.seek(5)
  print(file.read())

  print()

  position = file.tell()
  print(position)

 John

10

In [31]:
with open("test2.txt", "w") as file:
  file.write("Programming is fun")
  file.write("Python for beginners")

In [32]:
with open("test2.txt", "r") as file:
  file.seek(5)
  print(file.read())

  print()

  position = file.tell()
  print(position)

amming is funPython for beginners

38

In [34]:
with open("test2.txt", "w") as file:
  file.write("This is the end of the document")

In [35]:
with open("test2.txt", "r") as file:
  file.seek(5)
  print(file.read())

  print()

  position = file.tell()
  print(position)

is the end of the document

31

In [36]:
with open("my_file.txt", "w") as file:
  L = ["I Love python. Python is my favourite"]
  file.writelines(L)

In [37]:
with open("my_file.txt", "r") as file:
  print(file.read())

  print()

  position = file.tell()
  print(position)

I Love python. Python is my favourite

37

In [42]:
with open("my_file.txt", "a") as file:
  L = ["\nI Love python. Python is my favourite"]
  file.writelines(L)

In [124]:
with open("my_file.txt", "r") as file:
  print(file.read())

  print()

  position = file.tell()
  print(position)

{"name": "John", "age": 30}

27

In [44]:
with open("my_file.txt", "r") as file:
  file.read()

In [123]:
with open("my_file.txt", "r") as file:
  lines = file.readlines()

['{"name": "John", "age": 30}']

In [52]:
idx = []
for line in lines:
   idx.append(line.index("Python"))

In [53]:
print(idx)

[15, 15, 15]

In [61]:
import json

In [62]:
person = {
    "name" :  "John",
    "age" : 30
}

In [63]:
person_json = json.dumps(person)

In [64]:
print(type(person_json))

<class 'str'>

In [65]:
print(person_json)

{"name": "John", "age": 30}

In [69]:
person_json = json.dumps(person, indent =4,
                         separators = ("; ", "= "), sort_keys =True)
print(person_json)

{
    "age"= 30;
    "name"= "John"
}

In [70]:
with open("my_file.txt", "w") as file:
  json.dump(person, file)

In [71]:
with open("my_file.txt", "r") as file:
  loaded_file = json.load(file)

In [72]:
print(type(loaded_file))

<class 'dict'>

In [73]:
print(loaded_file)

{'name': 'John', 'age': 30}

In [75]:
loaded_file['name']

'John'

In [77]:
person_json = """
{
  "age": 30,
  "name": "John"
}
"""

In [78]:
person = json.loads(person_json)

{'age': 30, 'name': 'John'}

In [79]:
print(type(person))

<class 'dict'>

In [80]:
print(person)

{'name': 'John', 'age': 30}

In [81]:
person['name']

'John'

In [88]:
class Laptop:
  def __init__(self, name, processor, hdd, ram, cost):
    self.name = name
    self.processor = processor
    self.hdd = hdd
    self.ram = ram
    self.cost = cost

laptop1 = Laptop('Dell', 'intel i7', 512, 8, 2500.00)

dict1 = laptop1.__dict__

print(type(dict1))
print()
print(dict1)

<class 'dict'>

{'name': 'Dell', 'processor': 'intel i7', 'hdd': 512, 'ram': 8, 'cost': 2500.0}

In [89]:
jsonStr = json.dumps(dict1)

In [91]:
print(type(jsonStr))
print()
print(jsonStr)

<class 'str'>

{"name": "Dell", "processor": "intel i7", "hdd": 512, "ram": 8, "cost": 2500.0}

In [93]:
my_language = "Java"
print(f"{my_language} is a great language" )

Java is a great language

In [110]:
try:
  num = int(input("Enter an even number"))
  if num % 2 != 0:
     raise Exception("raise an exception")
except:
  print("not an even number")
else:
  reciprocal = 1/num
  print()
  print(reciprocal)
finally:
  print("Run completed")

Enter an even number1
not an even number
Run completed

In [104]:
class CustomError(Exception):
  def __init__(self, message):
    self.message = message

In [106]:
try:
  raise CustomError("This is a custom error")
except Exception as e:
  print(type(e))
  print(e)
  print(e.message)

<class '__main__.CustomError'>
This is a custom error
This is a custom error